.social-link {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
            color: var(--heading-color);
            height: 35px;
            width: 35px;
            line-height: 35px;
            border: 1px solid #d9d9d9;
            border-radius: 50%;
            text-align: center;
            display: inline-block;
            font-size: 15px;
            transition: all 0.3s ease-in;
            &:hover {
                color: var(--secondary-color);
            }
        }
    }
    &.style-01 {
        ul {
            li {
                display: block;
                margin: auto;
                margin-bottom: 15px;
                &:hover {
                    color: var(--main-color-one);
                }
            }
        }
    }
    &.style-02 {
        ul {
            li {
                border: none;
                font-size: 30px;
                display: inline-block;
                +li {
                    margin-left: 5px;
                }
                i {
                    &.facebook {
                        color: $facebook;
                    }
                    &.twitter {
                        color: $twitter;
                    }
                    &.g-plus {
                        color: $google-plus;
                    }
                    &.instagram {
                        color: $instagram;
                    }
                }
            }
        }
    }
    &.style-03 {
        ul {
            li {
                border: none;
                height: inherit;
                width: inherit;
            }
        }
    }
}