/*--------------------------
    Counterup Area
--------------------------*/

.counter-area {
    border-bottom: 1px solid #e8e8e8;
    padding: 73px 100px 88px;
    &.m-top {
        margin-top:-180px;
        position: relative;
        z-index: 1;
    }
    .section-inner {
        .who-btn {
            color: #161619;
            font-size: 14px;
            font-weight: 600;
            text-transform: uppercase;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                left: 0;
                bottom: -8px;
                width: 100%;
                height: 2px;
                background-color: var(--main-color-one);
            }
        }
    }
    .counter-content {
        p {
            font-size: 18px;
            padding-bottom: 17px;
        }
    }
}